{% extends "layout.html" %}
{% block title %}Registro{% endblock %}

{% block content %}
<h2>Crie uma conta</h2>
<form method="POST">
    <label for="nome">Nome</label>
    <input type="text" name="nome" id="nome" required> 

    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>

    <label for="senha">Senha</label>
    <input type="password" name="senha" id="senha" required>

    <button type="submit">Registre</button>
</form>
<p>Já tem uma conta? <a href="{{ url_for('login') }}">Faça Login aqui</a></p>
{% endblock %}
