{% extends "layout.html" %}
{% block title %}Registro{% endblock %}

{% block content %}
<h2>Crie uma conta</h2>
<form method="POST">
    <label for="name">Nome</label>
    <input type="text" name="name" id="name" required>

    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>

    <label for="password">Senha</label>
    <input type="password" name="password" id="password" required>

    <button type="submit">Registre</button>
</form>
<p>Já tem uma conta? <a href="{{ url_for('login') }}">Faça Login aqui</a></p>
{% endblock %}
